%h2 
  Курсы 
  %a.pull-right.big_text{'href' => "", 'ui-sref' => "courses.create"} +
%p{'ng-repeat' => "course in coursesCtrl.courses"} 
  %a{'href' => "", 'ng-click' => "coursesCtrl.showCourse(course)"} {{course.title}}