%h2 Добавление курса
%form{'role'=>"form"}
  .form-group
    %label{'for' => "title"} Название
    %input.form-control{'type' => "text", 'id' => "title", 'ng-model' => "course.course.title"}
  .form-group
    %label{'for' => "disciplines"} Разделы курса
    %textarea.form-control{'id' => "disciplines", 'rows' => "10", 'ng-model' => "course.course.disciplines"}
    %small Перечислите разделы курса. Каждый раздел с новой строки.
  %button.btn.btn-default{'type' => "submit", 'ng-click' => "coursesCtrl.createCourse(course)"} Добавить